{% extends "site_base.html" %}

{% load i18n %}

{% block banner-container %}
{% endblock %}

{% block body %}
{% if form.errors %}
<div id="error" class="error fadein">{% trans "Your username and password didn't match. Please try again." %}</div>
<script type="text/javascript">$('.fadein').fadeIn('slow');</script>
{% endif %}
<h3>{% trans "Log in" %}</h3>

<form name="loginform" method="post" action=".">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<div class="bubble button">
    <h3><a href="javascript:document.loginform.submit();">↪ &nbsp;{% trans "Log in" %}</a></h3>
</div>
{% if next %}
<input type="hidden" name="next" value="{{ next }}" />
{% else %}
<input type="hidden" name="next" value="{% url sprints.views.sprint_index %}" />
{% endif %}
</form>
<script type="text/javascript">
$('#id_password').keyup(function(e) {
    if (e.keyCode == 13)
        document.loginform.submit();
});
</script>
{% endblock %}
