{% extends "site_base.html" %}

{% load i18n %}

{% block banner-container %}
{% endblock %}

{% block body %}
<h3>{% trans "Change Password" %}</h3>
<form name="passwordform" method="POST">
<table>
{% for err in form.old_password.errors %}
<tr><td colspan="2" class="error fadein">{{ err }}</td><tr>
{% endfor %}
<tr>
    <td>{{ form.old_password.label_tag }}</td>
    <td>{{ form.old_password }}</td>
</tr>
{% for err in form.new_password1.errors %}
<tr><td colspan="2" class="error fadein">{{ err }}</td><tr>
{% endfor %}
<tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}</td>
</tr>
{% for err in form.new_password2.errors %}
<tr><td colspan="2" class="error fadein">{{ err }}</td><tr>
{% endfor %}
<tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}</td>
</tr>
</table>

<script type="text/javascript">
$('.fadein').fadeIn('slow');
$('#id_new_password2').keyup(function(e) {
    if (e.keyCode == 13)
        document.passwordform.submit();
});
</script>

<div class="bubble button">
  <h3><a href="javascript:document.passwordform.submit();">{% trans "change" %}</a></h3>
</div>

{% if next %}
<input type="hidden" name="next" value="{{ next }}" />
{% else %}
<input type="hidden" name="next" value="{% url sprints.views.sprint_index %}" />
{% endif %}
</form>
{% endblock %}

