{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/core.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/grid.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/menu.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/summary.css" media="screen">

    <script type="text/javascript" src="{{ MEDIA_URL }}ext/js/summary.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/sprint_detail.js" charset="utf-8"></script>
{% endblock %}

{% block title %}viewing sprint {{ sprint }}{% endblock %}

{% block navigation %}
<span class="navigation-item{% block nav-team-tasks %}{% endblock %}">
<a href="{% url sprints.views.sprint_detail sprint.id %}">{% trans "Team Tasks" %}</a>
</span>
<span class="navigation-item{% block nav-your-tasks %}{% endblock %}">
<a href="{% url sprints.views.sprint_edit sprint.id %}">{% trans "Your Tasks" %}</a>
</span>
{% endblock %}

{% block banner %}
<table id="sprint-nav">
    <tr>
{% with sprint.get_previous_or_none as s %}
{% if s %}
        <td id="sprint-nav-prev"><a href="{{ s.get_absolute_url }}" title="{{ s }}">&lt;</a></td>
{% else %}
        <td id="sprint-nav-prev" class="sprint-nav-inactive">&lt;</td>
{% endif %}
{% endwith %}
        <td>
{% if not sprint.is_active %}
            <div id="old-sprint-notice">{% trans "You are viewing a Sprint that is not active.  You will not be able to alter its data." %}</div>
{% endif %}
            <h3>{{ sprint.start_date|date:"F j" }} - {{ sprint.end_date|date:"F j, Y" }}</h3>
            <div id="sprint-burndown-chart"></div>
        </td>
{% with sprint.get_next_or_none as s %}
{% if s %}
        <td id="sprint-nav-next"><a href="{{ s.get_absolute_url }}" title="{{ s }}">&gt;</a></td>
{% else %}
        <td id="sprint-nav-next" class="sprint-nav-inactive">&gt;</td>
{% endif %}
{% endwith %}
    </tr>
</table>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
Ext.onReady(function() {
    {% block js_onReady %}
    {% endblock %}
    $.getJSON('{% url sprints.views.sprint_burndown_json sprint.id %}',
        function(json) {
            var markings = [];
            for (var i = 0; i < json.weekends.length; i++) {
                var w = json.weekends[i];
                markings.push({
                    xaxis: {
                        from: w.start,
                        to: w.end
                    },
                    color: "#fff6d9"
                });
            }

            var data = [ { label: "{% trans "Team Hours" %}", data: json.data[0] } ];
            if (json.data[1].length > 0)
                data.push({ label: "{% trans "Your Hours" %}", data: json.data[1] });

            $.plot($("#sprint-burndown-chart"), data, {
                lines: { show: true, lineWidth: 4 },
                points: { show: true, radius: 8 },
                xaxis: { tickSize: 1 },
                yaxis: { min: 0 },
                legend: { show: true },
                grid: { markings: markings }
            });
        }
    );

    $('#old-sprint-notice').fadeIn('slow');
});
</script>
{% endblock %}
