{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/core.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/grid.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/menu.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/summary.css" media="screen">

    <script type="text/javascript" src="{{ MEDIA_URL }}ext/js/ext.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}ext/js/summary.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/sprint_detail.js" charset="utf-8"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/jquery.sparkline.js" charset="utf-8"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/excanvas.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/jquery.flot.js" charset="utf-8"></script>
{% endblock %}

{% block title %}viewing sprint {{ sprint }}{% endblock %}

{% block after_header %}
<div id="projects">
{% for project in projects %}
    <span class="project{% if project == sprint.project %} selected{% endif %}"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></span>
{% endfor %}
</div>
{% endblock %}

{% block navigation %}
<span class="navigation-item{% block nav-team-tasks %}{% endblock %}">
<a href="{% url sprints.views.sprint_detail sprint.project.slug sprint.id %}">{% trans "Team Tasks" %}</a>
</span>
<span class="navigation-item{% block nav-your-tasks %}{% endblock %}">
<a href="{% url sprints.views.sprint_edit sprint.project.slug sprint.id %}">{% trans "Your Tasks" %}</a>
</span>
{% endblock %}

{% block banner %}
<table id="sprint-nav">
    <tr>
{% with sprint.get_previous_or_none as s %}
{% if s %}
        <td id="sprint-nav-prev"><a href="{{ s.get_absolute_url }}" title="{{ s }}">&#9664;</a></td>
{% else %}
        <td id="sprint-nav-prev" class="sprint-nav-inactive">&#9664;</td>
{% endif %}
{% endwith %}
        <td>
{% if not sprint.is_active %}
            <div id="old-sprint-notice">{% trans "You are viewing a Sprint that is not active.  You will not be able to alter its data." %}</div>
{% endif %}
            <h3>{{ sprint.start_date|date:"F j" }} - {{ sprint.end_date|date:"F j, Y" }}</h3>
            <table id="sprint-chart-area">
                <tr>
                    <td>
                        <div id="sprint-burndown-chart"></div>
                    </td>
{% if sprint.milestone %}
                    <td>
                        <div id="sprint-milestone-label">
                            {% blocktrans with sprint.milestone.name as n %}{{ n }} Milestone{% endblocktrans %}
                        </div>
                        <div id="sprint-milestone-chart"></div>
                    </td>
{% endif %}
                </tr>
            </table>
        </td>
{% with sprint.get_next_or_none as s %}
{% if s %}
        <td id="sprint-nav-next"><a href="{{ s.get_absolute_url }}" title="{{ s }}">&#9654;</a></td>
{% else %}
        <td id="sprint-nav-next" class="sprint-nav-inactive">&#9654;</td>
{% endif %}
{% endwith %}
    </tr>
</table>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
Ext.onReady(function() {
    {% block js_onReady %}
    {% endblock %}

    $.getJSON('{% url sprints.views.sprint_burndown_json sprint.id %}',
        function(json) {
            var markings = [];
            for (var i = 0; i < json.weekends.length; i++) {
                var w = json.weekends[i];
                markings.push({
                    xaxis: {
                        from: w.start,
                        to: w.end
                    },
                    color: "#fff6d9"
                });
            }

            var data = [ { label: "{% trans "Team Hours" %}", data: json.data[0] } ];
            if (json.data[2].length > 0)
                data.push({
                    label: "{% trans "Open Tasks" %}", data: json.data[2],
                    points: { show: false }, lines: { show: true, fill: true }
                });
            if (json.data[1].length > 0)
                data.push({ label: "{% trans "Your Hours" %}", data: json.data[1] });

            $.plot($("#sprint-burndown-chart"), data, {
                lines: { show: true, lineWidth: 4 },
                points: { show: true, radius: 8 },
                xaxis: { tickSize: 1 },
                yaxis: { min: 0 },
                legend: { show: true },
                grid: { markings: markings }
            });
        }
    );

{% if sprint.milestone %}
    $.getJSON('{% url sprints.views.sprint_milestone_graph_json sprint.id %}',
        function(json) {
            var data = [
                { label: "{% trans "Remaining Hours" %}", data: json.remaining_hours },
                { label: "{% trans "Open Tasks" %}", data: json.open_tasks,
                  lines: { show: true, fill: true } }
            ];
            $.plot($("#sprint-milestone-chart"), data, {
                lines: { show: true, lineWidth: 1 },
                points: { show: false },
                xaxis: { mode: "time", min: json.start_date, max: json.end_date,
                         ticks: 4 },
                yaxis: { min: 0, ticks: 5 },
                legend: { show: false },
                grid: { markings: [{
                    xaxis: { from: json.sprint_start_date,
                             to: json.sprint_end_date },
                    color: "#edd89a"
                }]}
            });
        }
    );
{% endif %}
});
</script>
{% endblock %}
