{% extends "base.html" %}

{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/xtheme-slate.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/core.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/grid.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ext/css/summary.css" media="screen">

    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/sprint_detail.js" defer="defer" charset="utf-8"></script>
{% endblock %}

{% block header %}
<div id="sprint-burndown-chart" style="width: 500px; height: 300px;"></div>
{% endblock %}

{% block body %}
<div id="sprint-tasks-table"></div>
<div id="sprint-effort-table"></div>
<div id="sprint-load-table"></div>
<script type="text/javascript">
Ext.onReady(function() {
    var iterationDays = {{ sprint.iteration_days }};

    var tasksGrid = createTasksGrid('sprint-tasks-table', 
                                    '{% url sprints.views.sprint_tasks_json sprint.id %}',
                                    iterationDays);
    var effortGrid = createTeamMemberGrid('sprint-effort-table', iterationDays);
    var loadGrid = createTeamMemberGrid('sprint-load-table', iterationDays);
    
    $.getJSON('{% url sprints.views.sprint_load_effort_json sprint.id %}',
        function(data) {
            effortGrid.store.loadData(data.effort);
            loadGrid.store.loadData(data.load);
        }
    );

    $.getJSON('{% url sprints.views.sprint_burndown_json sprint.id %}',
        function(data) {
            $.plot($("#sprint-burndown-chart"), [data]);
        }
    );
});
</script>
{% endblock %}
