html {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
    font: 10pt Verdana, Arial, Helvetica, sans-serif;
}

a img {
    border: 0px;
}

a:link, a {
    color: #3ca2a2;
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: #215a5a;
}

h2 {
    font: bold 1.4em Arial, Helvetica, sans-serif;
    text-transform: lowercase;
}

#content-container {
    margin: 20px 60px;
}

#user-details {
    color: #ffffff;
    text-align: right;
    background: #3ca2a2;
    padding-right: 10px;
    border-top: 2px solid #ffffff;
    border-top: 2px solid #dfecf6;
}

#user-details p {
    margin: 2px;
}

#user-details a:link, #user-details a {
    color: #215a5a;
}

#content {
    background: #f0f0f0;
}

#header {
    border-bottom: 8px solid #215a6d;
    text-align: center;
    background: #2c2c2c url('../images/header-bg.png') center center no-repeat;
}

#logo {
    padding: 10px;
    padding-bottom: 5px;
    position: absolute;
}

#sprint-burndown-chart {
    text-align: center;
    float: center;
}

.clear {
    clear: both;
}

#graph p {
    font-weight: bold;
    color: #ffffff;
}

#body {
    background: #dfecf6;
    padding: 15px;
}

#footer {
    border-top: 1px solid #ffffff;
    border-bottom: 6px solid #0e0e0e;
    background-color: #215a6d;
    color: #dfecf6;
    font-size: 0.8em;
}
