{% extends "timeline/base.html" %}

{% load i18n %}
{% load utcunixtimestamp %}

{% block extra_head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/jquery.cookie.js" charset="utf-8"></script>
{% endblock %}

{% block banner-container %}
{% endblock %}

{% block body %}
<div id="timeline-content-container">
    <div id="timeline-top-bar">
        <label for="notifications">
            <input id="timeline-notify-checkbox" type="checkbox" />
            Notify me on update
        </label>
    </div>
    <ul id="timeline-event-container" data-start-after="{{ new_start_after }}"
        data-earlier-than="{{ new_earlier_than }}">
{% for e in events %}
        <li class="timeline-event" data-id="{{ e.pk }}" data-timestamp="{{ e.date|utcunixtimestamp }}">
            <p class="timeline-date"></p>
            <p>{{ e.get_message_for_display|safe }}</p>
            <p class="timeline-event-task">{{ e.get_task_for_display }}</p>
{% if e.comment %}
            <p class="timeline-event-comment">{{ e.comment|linebreaksbr }}</p>
{% endif %}
        </li>
{% endfor %}
    </ul>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
var MONTHS = [
	'January', 'Feburary', 'March', 'April',
 	'May', 'June', 'July', 'August',
	'September', 'October', 'November', 'December'
];

// I've got 99 problems and a URL ain't one.
var latest_events_url = '{% url timeline_latest_events_json 99 %}';
var previous_events_url = '{% url timeline_previous_events_json 99 %}';
var event_popup_url = '{% url timeline_event_popup 99 %}';

var notification_enabled = $.cookie('notification_enabled') == "true";
$('#timeline-notify-checkbox').attr('checked', notification_enabled);

$('#timeline-notify-checkbox').change(function () {
	var c = $(this);
	var checked = c.attr('checked');
	if (!notification_enabled && checked && window.webkitNotifications
	    && window.webkitNotifications.checkPermission() > 0) {
		window.webkitNotifications.requestPermission(function () {
			notification_enabled =
				window.webkitNotifications.checkPermission() == 0;
			$.cookie('notification_enabled', notification_enabled);
		});
	}
	$.cookie('notification_enabled', checked);
	notification_enabled = checked;
});

function get_relative_date_string (date) {
	var curr = new Date().getTime() / 1000;
	var diff = curr - date;

	var mesg = '';
	if (diff < 60) {
		mesg = 'moments ago';
	} else if (diff < 3600) {
		var mins = Math.round(diff / 60);
		mesg = mins + ' minute' + (mins == 1 ? '' : 's') + ' ago';
	} else if (diff < 43200) {
		var hours = Math.round(diff / 3600);
		mesg = hours + ' hour' + (hours == 1 ? '' : 's') + ' ago';
	} else {
		var dt = new Date(date * 1000);
		if (dt.year == curr.year)
			mesg = MONTHS[dt.getMonth()] + ' ' + dt.getDate();
		else
			mesg = MONTHS[dt.getMonth()] + ' ' + dt.getDate() + ' ' + dt.getFullYear();
	}
	return mesg;
}

function add_hidden_event (e, prepend) {
	if (prepend && notification_enabled) {
		var popup = window.webkitNotifications.createHTMLNotification(
			event_popup_url.replace('99', e.pk)
		);
		popup.show();

		setTimeout(function () { popup.cancel(); }, 5000);
	}

	var li = $('<li>').addClass('timeline-event').attr('data-id', e.pk)
	                  .attr('data-timestamp', e.date)
	                  .append($('<p>').addClass('timeline-date')
	                                  .text(get_relative_date_string(e.date)))
	                  .append($('<p>').html(e.message));
	if (e.task != '')
		li.append($('<p>').addClass('timeline-event-task').html(e.task));
	if (e.comment != '')
		li.append($('<p>').addClass('timeline-event-comment').html(e.comment));

	li.hide();
	if (prepend) {
		$('#timeline-event-container').prepend(li);
	} else {
		$('#timeline-event-container').append(li);
	}
	return li;
}

function update_relative_times () {
	$('.timeline-event').each(function () {
		var date = $(this).attr('data-timestamp');
		$(this).children('.timeline-date').first()
		       .text(get_relative_date_string(date));
	});
}

update_relative_times();
window.setInterval(update_relative_times, 30000);

var fetchingMoreData = false;

$(window).scroll(function () {
	if (fetchingMoreData)
		return;

	var startFetching = $(document).height() - $(window).height()
	                    - ($('#timeline-event-container').height() * 0.2);
	if ($(window).scrollTop() < startFetching)
		return;

	var earlier_than = $('#timeline-event-container').attr('data-earlier-than');
	if (earlier_than < 0)
		return;

	fetchingMoreData = true;
	$.getJSON(previous_events_url.replace('99', earlier_than), function (data) {
		$.each(data.events, function (i, e) {
			var li = add_hidden_event(e, false);
			li.slideDown();
		});

		// Update the earlier-than for subsequent runs
		$('#timeline-event-container').attr('data-earlier-than',
		                                    data.new_earlier_than);
		fetchingMoreData = false;
	});
});

window.setInterval(function () {
	var start_after = $('#timeline-event-container').attr('data-start-after');
	$.getJSON(latest_events_url.replace('99', start_after), function (data) {
		$.each(data.events, function (i, e) {
			var li = add_hidden_event(e, true);
			li.delay(i * 800).slideDown();
		});

		// Update the start-after for subsequent runs
		$('#timeline-event-container').attr('data-start-after',
		                                    data.new_start_after);
	});
}, 5000);
</script>
{% endblock %}
