{% extends "timeline/base.html" %}

{% load i18n %}
{% load utcunixtimestamp %}

{% block extra_head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/jquery.cookie.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/jquery.hotkeys.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/notifier.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/timeline.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}berserk/js/sidebar.js" charset="utf-8"></script>
{% endblock %}

{% block banner-container %}
{% endblock %}

{% block body %}
<div id="timeline-content-container">
    <div id="timeline-top-bar" style="display: none">
        <label for="notifications">
            <input id="timeline-notify-checkbox" type="checkbox" />
            Notify me when new items are added
        </label>
    </div>
    <ul id="timeline-event-container" data-start-after="{{ new_start_after }}"
        data-earlier-than="{{ new_earlier_than }}">
{% for e in events %}
        <li class="timeline-event" data-id="{{ e.pk }}" data-timestamp="{{ e.date|utcunixtimestamp }}">
            <p class="timeline-date"></p>
            <p class="timeline-message">{{ e.get_message_for_display|safe }}</p>
            <p class="timeline-event-task">{{ e.get_task_for_display }}</p>
{% if e.comment %}
            <p class="timeline-event-comment">{{ e.comment|linebreaksbr }}</p>
{% endif %}
        </li>
{% endfor %}
    </ul>
    <div id="timeline-sidebar">
        <div id="timeline-sidebar-event">
        </div>
        <div id="timeline-sidebar-detail">
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
var notifier = new Notifier({
	cookie_name : 'timeline_notification_enabled',
	enabledChanged : function (val) {
		$('#timeline-notify-checkbox').attr('checked', val);
	}
});

if (notifier.supported()) {
	$('#timeline-top-bar').show();
}

$('#timeline-notify-checkbox').change(function () {
	notifier.toggleEnabled();
});

var sidebar = new Sidebar({
	// I've got 99 problems and a URL ain't one.
	eventDetailUrl : '{% url timeline_event_detail 99 %}'
});

var timeline = new Timeline({
	latestEventsUrl : '{% url timeline_latest_events_json 99 %}',
	previousEventsUrl :'{% url timeline_previous_events_json 99 %}',
	newEventAdded : function (e) {
		notifier.htmlNotify({
			url : '{% url timeline_event_popup 99 %}'.replace('99', e.pk),
			timeout : 8000
		});
	},
	selected : function (e) {
		sidebar.select(e);
	},
	eventOpened : function (e) {
		var pk = e.attr('data-id');
		if (!pk)
			return;

		window.open('{% url timeline_jump 99 %}'.replace('99', pk));
	}
});
</script>
{% endblock %}
